.error{ 
  margin: 26px auto;
  height:  140px;
  width: 941px ;
  background-color: white;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
 
.text{
  font-size: 24px;
  color:rgb(24, 144, 255);
   
  width: 300px;
   box-sizing: content-box;
}
 